<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/
bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384 - 6n5384xq01a0WXA+858RXPxPq6fy4IWVTNhDE263XmFcJ1SAwiGgFAW
/dAiS6JXn" crossorigin="anonymous"> 
  <link rel="stylesheet" href="style.css">
  <title>Current Weather - OOP</title>
 </head>
 <body>